<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="se.mah.interaction.design" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="se.mah.interaction.design.StartActivity"
            android:label="Start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="se.mah.interaction.design.IntroActivity"
            android:label="Intro">
            </activity>
        <activity
            android:name=".ShakeNSpeak"
            android:label="Control " >
        </activity>
        <activity
            android:name="se.mah.interaction.design.ListenActivity"
            android:label="2. Control the breathing" >
        </activity>
        <activity
            android:name="se.mah.interaction.design.CallForHelp"
            android:label="3. Call for help" >
        </activity>
        <activity
            android:name="se.mah.interaction.design.StartCPR"
            android:label="Justera kropp" >
        </activity>
        <activity
            android:name="se.mah.interaction.design.Compress"
            android:label="4. Compress the chest" >
        </activity>
        <activity
            android:name="se.mah.interaction.design.Blow"
            android:label="5. Mouth to mouth" >
        </activity>
        <activity
            android:name="se.mah.interaction.design.FinishedActivity"
            android:label="Finished!" >
        </activity>

    </application>

</manifest>
